---
layout: default
---

<main id="main" class="home">
  <div class="grid-container grid-container-desktop-lg">
    <div class="head">
      <h1>{{ page.title | escape }}</h1>
      {% if page.deck %}
      <div class="grid-row">
        <div class="grid-col-12 tablet:grid-col-10">
          <div class="deck"><span>{{ page.deck }}</span></div>
        </div>
      </div>
      {% endif %}
    </div>
    <div class="grid-row">
      <div class="grid-col-12 tablet:grid-col-10">
        <article>
          <div class="content usa-prose">
            {{ content }}
          </div>
        </article>
      </div>
    </div>
  </div>
</main>

{% include elsewhere.html %}
